!!! 5
 %html{:lang => "ar", :dir => "rtl"}
  %head
   / meta
   %meta{:charset => "utf-8"}/
   %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}/
   %meta{:name => "theme-color", :content => "#ffffff"}/
   %meta{:name => "color-scheme", :content => "light"}/
   %meta{:name => "google", :content => "notranslate"}/
   %meta{:name => "robots", :content => "none"}/
   %meta{:name => "twitter:card", :content => "summary"}/
   %meta{:name => "twitter:title", :content => "خطأ ٥٠٢"}/
   %meta{:name => "twitter:image", :content => "../assets/images/logo.png"}/
   %meta{:name => "twitter:image:alt", :content => "Almbst"}/
   %meta{:property => "og:site_name", :content => "المبسط"}/
   %meta{:property => "og:title", :content => "خطأ ٥٠٢"}/
   %meta{:property => "og:image", :content => "../assets/images/logo.png"}/
   %meta{:property => "og:image:alt", :content => "Almbst"}/
   / link
   %link{:rel => "canonical", :href => "http://localhost/www/%d8%a7%d9%84%d9%85%d8%a8%d8%b3%d8%b7/"}/
   %link{:rel => "icon", :type => "image/png", :href => "../assets/images/logo.png"}/
   / title
   %title خطأ ٥٠٢
  %body
   %h2 خطأ ٥٠٢